---
import { projects } from "../../data/projects";

import ProjectsIcon from "../icons/Projects.astro";

import LinkIcon from "../icons/Link.astro";
import GithubIcon from "../icons/Github.astro";

import TagsList from "../ui/TagsList";
---

<div class="space-y-6 md:space-y-0">
  <header
    class="flex items-center justify-start gap-2 opacity-90 relative md:hidden"
  >
    <ProjectsIcon />
    <h2 class="text-lg">More Projects</h2>
  </header>

  <div class="flex flex-col gap-18 sm:gap-12">
    {
      projects.map((project) => (
        <article class="flex flex-col sm:flex-row gap-6 sm:gap-8 w-full">
          <div class="aspect-video overflow-hidden rounded-xl h-48 max-w-full md:max-w-lg w-full flex-5">
            <a
              href={project.href.length > 0 ? project.href : project.repository}
            >
              <img
                src={project.image}
                alt={`Mockup, Captura de Pantalla del Proyecto ${project.title}`}
                class="w-full h-full cursor-pointer object-cover object-top scale-105 hover:scale-100 duration-700 transition-transform shadow-none"
              />
            </a>
          </div>

          <div class="flex flex-col gap-4 md:gap-0 sm:justify-between flex-6">
            <div class="space-y-3">
              <h2 class="text-xl">{project.title}</h2>
              <TagsList tags={project.tags} client:visible />
            </div>
            <p class="text-black/50 dark:text-white/50 text-sm leading-relaxed prose">
              {project.description}
            </p>

            <div class="flex items-center space-x-2 text-white/80 text-sm">
              <a
                href={project.href}
                class="flex items-center gap-1 bg-black text-white/80 hover:bg-black/80 hover:text-white/80 dark:bg-white dark:text-black/80 px-3 py-1.5 rounded-lg dark:hover:bg-white/90 transition-colors"
              >
                <LinkIcon class="size-6" /> Preview
              </a>
              <a
                href={project.repository}
                class="flex items-center gap-1 px-2 py-1 rounded-lg text-black/80 hover:text-black/70 dark:text-white/80 dark:hover:text-white/90 transition-colors"
              >
                <GithubIcon class="size-6 opacity-80" />
                Code
              </a>
            </div>
          </div>
        </article>
      ))
    }
  </div>
</div>
