---
import { primaryProjects } from "../../data/projects";

import CodeIcon from "../icons/Code.astro";
import GithubIcon from "../icons/Github.astro";

import ProjectCard from "../ui/ProjectCard.tsx";

import MoreProjectsSection from "./MoreProjects.astro";
---

<div class="space-y-6">
  <header class="flex items-center justify-start gap-2 opacity-90">
    <CodeIcon />
    <h2 class="text-lg">Selected Projects</h2>
  </header>

  <main class="w-full flex flex-col gap-32">
    <div class="w-full flex justify-between">
      {
        primaryProjects.map((project) => (
          <ProjectCard
            client:load
            title={project.title}
            description={project.description}
            longDescription={project.longDescription}
            image={project.image}
            image2={project.image2}
            href={project.href}
            repository={project.repository}
            tags={project.tags}
          />
        ))
      }
    </div>
    <MoreProjectsSection />
  </main>

  <footer class="flex items-center justify-center pt-16">
    <a
      href="https://github.com/francogalfre"
      class="cursor-pointer flex gap-2 opacity-50 hover:opacity-80 hover:underline transition-opacity"
    >
      <GithubIcon class="size-5" />
      <h2 class="text-md">More Projects</h2>
    </a>
  </footer>
</div>
